fastapi
uvicorn[standard]
sqlalchemy
pydantic==1.10.13
pydantic[email]==1.10.13
python-jose[cryptography]
passlib[bcrypt]
databases
sqlite-utils
httpx
python-multipart
passlib[bcrypt]
python-jose
cryptography
python-dotenv
psycopg2-binary

